{% extends "researcher/researcher.html" %}

{% block head %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"/>

    <script>
    $(document).ready(function(){ $('.timepicker').datepicker(); });
    </script>
    <!--
    <script src="static/jquery.cookie.js"/>

    <!--send data to be created into xml
    <script>
        var csrftoken = $.cookie('csrftoken');

        function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            crossDomain: false, // obviates need for sameOrigin test
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
    -->

    <script>
    $(document).ready(function(){
       $("button").click(function(){
           $.post("../account/exp/", {'data': $("form").serialize(), 'csrfmiddlewaretoken': '{{ csrf_token }}'});
       });
    });
    </script>

    {{ form.media }}

{% endblock %}

{% block title %}
  Xlab Mobile
{% endblock %}

{% block content %}
    {{ form }}
{%  endblock %}