{% extends "base.html" %}
{% comment %}
  This is the main template for all portal pages.
{% endcomment %}

{% block head %}
  <title>XLab Mobile | {% block title %}{% endblock %}</title>
{% endblock %}

{% block body %}
  <header>
    <h1>XLab Mobile | Web Portal</h1>
  </header>

  <section>
    <ul>
      <li><a href="/">home</a></li>
      <li><a href="/logout/">logout</a></li>
      <li><a href="/account/create2/">create</a></li>
    </ul>
  </section>

  {% block content %}{% endblock %}

  <footer>
    <span>&copy; 2013, XLab Mobile</span>
  </footer>
{% endblock %}