<!DOCTYPE html>
<html>
<h1>Experiment</h1>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">
</script>
<script>
$(document).ready(function(){
  $("button").click(function(){
    $("div").text($("form").serialize());
  });
});
</script>

<script>
$("form".submit(function() {
    $.post("http://127.0.0.1/register", $(this).serialize(), callbackFunction);
    return false;
}
</script>

<form id="myForm" action="">
    E-mail: <input type="text" name="administrator" value="" placeholder="raja@berkeley.edu"/><br>
    User List: <input type="checkbox" name="user" value="nachi">Nachi
    <input type="checkbox" name="user" value="hoang">Hoang
    <input type="checkbox" name="user" value="Sid">Sid
    <input type="checkbox" name="user" value="Andre">Andre<br>
    Survey Name: <input type="text" name="survey" value="" placeholder="survey25"/><br>
    Timetrigger: <input type="text" name="month" value="" size="1"/> /
    <input type="text" name="day" value="" size="1"/> /
    <input type="text" name="year" value="" size="1"/> at
    <select name="hour">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
    </select>
    <select name="ampm">
        <option value="am">am</option>
        <option value="pm">pm</option>
    </select><br>
    repeat occurances: <input type="text" name="repeats" value="" size="3"/><br>
    repeats on: <input type="checkbox" name="weekdays" value="Su">S
<input type="checkbox" name="weekdays" value="M">M
    <input type="checkbox" name="weekdays" value="Tu">T
    <input type="checkbox" name="weekdays" value="W">W
    <input type="checkbox" name="weekdays" value="Th">Th
    <input type="checkbox" name="weekdays" value="F">F
    <input type="checkbox" name="weekdays" value="Sa">S
    <input type="button" name="submit" value="submit">
</form>
   <button>Serialize form values</button>
<div></div>
</html>